@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

<h1>About me</h1>

<dl>
    <dt>Name: Björn Elfvin</dt>
    <dt>Age: 58 (and counting)</dt>
    <dt>Live in Hovmantorp, Småland</dt>

</dl>

