@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<dt>Mobile: +46 70 6952593</dt>

<dt>Email: bjorn@elfvin.se</dt>

<dt>Adress: Orrvägen 24 365 42 Hovmantorp</dt>

<h1>
    <a href="https://www.linkedin.com/in/bj%C3%B6rn-elfvin-64732233/">My Linkedin page</a>
</h1>