@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projects";
}

<h1>Github repos</h1>

<h4>Below is a list of recent gitgub projects. Enjoy!</h4>

@*Use target="_blank" to open the resource in a new tab! *@

<dh> <a href="https://github.com/bjoelf/FrontendAssignment_Sokoban" target="_blank">SokoBan</a></dh>
<p>Sokoban was created in 1981 by Hiroyuki Imabayashi. Here is my humble implementation using JavaScript as the main tool</p>
<hr />

<dh> <a href="https://github.com/bjoelf/VendingMachine2_week5" target="_blank">Vending Machine in C#</a></dh>
<p>The vending machine is a simple representation of such, showing off some polymorfism and overloading skills in C#</p>
<hr />

<dh> <a href="https://github.com/bjoelf/docAdmin2_desktop" target="_blank">Fortnox Billing and salary processing tool.</a></dh>
<p>Saving JSON object in various places within Fortnox to avoid using a database for these objects.</p>
<hr />


